.ft-page {
  background: rgba(0, 0, 54, 1);
}

.GE-button {
  background: #fff !important;
  color: #212121 !important;
}

.GE-default-text {
  color: #fff;
}

.GE-answer-button {
  background: #fff !important;
  color: #212121 !important;
  width: 100%;
  word-wrap: break-word;
  padding: 5%;
  height: auto;
  line-height: 25px;
  font-size: 20px;
}

.GE-ease-in-out {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.GE-h2-break {
  margin-bottom: 1.424rem ;
}

.GE-wrong-result, .GE-correct-result {
  /*display: none;*/
}

input[type="button"], button {
    -moz-box-sizing: content-box;
}
.btn-fb-share {
  cursor: pointer;
  position: absolute !important;
  bottom: 10px !important;
  right: 10px !important;
}
.btn-tw-share {
  position: absolute !important;
  bottom: 30px !important;
  right: 10px !important;
}

.GE-about-us {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 30px !important;
  padding: 0px 5px 0px 5px !important;
}

.event-details {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.contri p {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}